<template>
    <div class="item">
        <strong><img src="/images/hospital.png" class="hospital-img" alt="병원 아이콘"> {{ hospitalName }}</strong><br/>
        요일 : {{ hospitalWeekEnd }} <br/>
        주소 : {{ hospitalAddress }} <br/>
        연락처 : {{ hospitalTel }}
    </div>
</template>

<script>
export default {
    props: {
        hospitalName: {
            type: String,
            require: true
        },
        hospitalWeekEnd: {
            type: String,
            require: true
        },
        hospitalAddress: {
            type: String,
            require: true
        },
        hospitalTel: {
            type: String,
            require: true
        }
    }
}
</script>

<style>
.item {
    border: #999999 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient( to right, #FFFFFF, #EEEEEE);
}
.hospital-img {
    height: 20px;
    width: 20px;
}
</style>
