<template>
    <div>
        <div class="search">
            <el-input placeholder="검색 주소를 입력하세요" v-model="searchKeyword"></el-input>
            <el-button type="primary" icon="el-icon-search" @click.native="getList">Search</el-button>
        </div>
        <div id="hospital-count">
            <i class="el-icon-info"></i> 총 {{matchCount}}건의 병원 데이터가 나왔습니다.
        </div>
        <HospitalItem
            v-for="(item, index) in hospitalList"
            v-bind:key="'hospital ' + index"
            v-bind:hospitalName="item.orgnm"
            v-bind:hospitalWeekEnd="item.dywk"
            v-bind:hospitalAddress="item.orgZipaddr"
            v-bind:hospitalTel="item.orgTlno"
        />
        <div class="select-page">
            <el-pagination
                background
                layout="prev, pager, next"
                :total="matchCount"
                @current-change="setList"
            >
            </el-pagination>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexPage',
    data() {
        return {
            searchKeyword: ''
        }
    },
    computed: {
        hospitalList() {
            return this.$store.getters[this.$hospitalConstants.GET_LIST]
        },
        page() {
            return this.$store.getters[this.$hospitalConstants.GET_PAGE]
        },
        totalCount() {
            return this.$store.getters[this.$hospitalConstants.GET_TOTAL_COUNT]
        },
        matchCount() {
            return this.$store.getters[this.$hospitalConstants.GET_MATCH_COUNT]
        }
    },
    methods: {
        getList() {
            let payload = {
                page: this.page,
                searchKeyword: this.searchKeyword
            }
            this.$store.dispatch(this.$hospitalConstants.DO_LIST, payload)
        },
        setList(pageNum) {
            this.$store.commit(this.$hospitalConstants.FETCH_PAGE, pageNum)
        }
    },
    watch: {
      page() {
          this.getList()
      }
    },
    created() {
        this.getList()
    }
}
</script>

<style>
#hospital-count {
    padding: 10px;
}
.select-page {
    margin-top: 20px;
    text-align: center;
}
.search {
    display: flex;
    flex-direction: row;
}
</style>
